# Data Programming - Problem Set 2
Miguel Sanchez

## Question 1
Consider the following Python module:
<p></p>
a=0
<p></p>
def b():
<p></p>
    global a
    <p></p>
a = c(a)
<p></p>
def c(a):
<p></p>
    return a + 2
    <p></p>
After importing the module into the interpreter, you execute:
<p></p>
'>>> b()
<p></p>
'>>> b()
<p></p>
'>>> b()
<p></p>
'>>> a
<p></p>
?
<p></p>
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a=0  #(1)

def b():
    global a #(3)
    a = c(a)
def c(a):
    return a + 2

b() #(2)
b()
b()
a

#(1)first of all, a 0 is assigned to the global variable a
#(2)then, the b() function is called by the first time
#(3) 'global a' is used inside the function so all references to that variable inside b() are to the global a

6

## Question 2
<p></p>
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
<p></p>
'>>> fileLength('midterm.py')
<p></p>
284
<p></p>
'>>> fileLength('idterm.py')
<p></p>
Traceback (most recent call last):
<p></p>
  File "<pyshell#34>", line 1, in module>
  <p></p>
    fileLength('idterm.py')
    <p></p>
  File "/Users/me/midterm.py", line 3, in fileLength
  <p></p>
    infile = open(filename)
    <p></p>
FileNotFoundError: [Errno 2] No such file or directory:
<p></p>
'idterm.py'
<p></p>
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
<p></p>
'>>> fileLength('midterm.py')
<p></p>
358
<p></p>
'>>> fileLength('idterm.py')
<p></p>
File idterm.py not found.

In [2]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File ',file_name,' not found.')
    
fileLength('idterm.py')

File  idterm.py  not found.

## Question 3
Write a class named Marsupial that can be used as shown below:
<p></p>
'>>> m = Marsupial()
<p></p>
'>>> m.put_in_pouch('doll')
<p></p>
'>>> m.put_in_pouch('firetruck')
<p></p>
'>>> m.put_in_pouch('kitten')
<p></p>
'>>> m.pouch_contents()
<p></p>
['doll', 'firetruck', 'kitten']
<p></p>
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
<p></p>
a) extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
<p></p>
b) supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and
<p></p>
c) overloads the __str__ operator so it behaves as shown below.
<p></p>
'>>> k = Kangaroo(0,0)
<p></p>
'>>> print(k)
<p></p>
I am a Kangaroo located at coordinates (0,0)
<p></p>
'>>> k.put_in_pouch('doll')
<p></p>
'>>> k.put_in_pouch('firetruck')
<p></p>
'>>> k.put_in_pouch('kitten')
<p></p>
'>>> k.pouch_contents()
<p></p>
['doll', 'firetruck', 'kitten']
<p></p>
'>>> k.jump(1,0)
<p></p>
'>>> k.jump(1,0)
<p></p>
'>>> k.jump(1,0)
<p></p>
'>>> print(k)
<p></p>
I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial:
    def __init__(self):
        self.mar=[]
    def put_in_pouch(self,name):
        self.mar.append(name)
    def pouch_contents(self):
        return print(self.mar)
    #Agregar lo del string
    
    

class Kangaroo (Marsupial):
    def __init__(self,xcor,ycor):
        self.mar=[]
        self.x=xcor
        self.y=ycor
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [4]:
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
<p></p>
x={ 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 
<p></p>
x={ 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
  <p></p>
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
<p></p>
'>>> collatz(1)
<p></p>
1
<p></p>
'>>> collatz(10)
<p></p>
10
<p></p>
5 
<p></p>
16
<p></p>
8 
<p></p>
4 
<p></p>
2 
<p></p>
1

In [5]:
def collatz(num):
    if num ==1:
        print (num)
    elif num%2 == 0:
        print(num)
        num//=2;
        collatz(num)
    else:
        print (num)
        num=3*num+1
        collatz(num)
        
collatz(1)  
collatz(10)

1
10
5
16
8
4
2
1

## Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
<p></p>
'>>> binary(0)
<p></p>
0
<p></p>
'>>> binary(1)
<p></p>
1
<p></p>
'>>> binary(3)
<p></p>
11
<p></p>
'>>> binary(9)
<p></p>
1001

In [6]:
def binary(num):
    if num ==0 or num==1:
        print()
        print(num,end='')
    else:
        binary (num//2)
        print(num%2,end='')
        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

## Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
<p></p>
'>>> infile = open('w3c.html')
<p></p>
'>>> content = infile.read()
<p></p>
'>>> infile.close()
<p></p>
'>>> hp = HeadingParser()
<p></p>
'>>> hp.feed(content)
<p></p>
W3C Mission
<p></p>
Principles

In [7]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def handle_data(self, data):
        heading=str(self.get_starttag_text())
        if 'h' in heading and len(heading)==4 and "\n" not in data:
            print ((int(heading[2])-1)*' ',data)

In [8]:
from html.parser import HTMLParser

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission
  Principles

## Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
<p></p>
'>>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
<p></p>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
<p></p>
     <p></p>http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
    <p></p>
         http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
        <p></p>
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
    <p></p>
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [3]:
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [17]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def webdir(url,depth,indent):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks() 
    #print(urls)
    
    count=0
    if depth == 0:
        for ur in urls:
            print('  ',ur)
    else:
        for ur in urls:
            print(' '*indent,ur)
            try: 
                webdir(ur,(depth-1),(indent+1))
            except:
                pass

In [18]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/Ch11.pptx
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/ch11.py
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/frankenstein.txt
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/five.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/five.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/one.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/two.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/three.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/two.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/five.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/one.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/two.html
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/three.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/five.html
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/links.html
  http://www.google.com
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/test.html
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/one.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/two.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/three.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/test.html
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/two.html
  http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/four.html
   http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/five.html
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture9/w3c.html
  http://www.w3.org/Consortium/mission.html
   http://www.w3.org/Consortium/mission.html#main
   https://github.com/w3c/w3c-website
   https://www.w3.org/ja/
   https://www.w3.org/zh-hans/
   https://www.w3.org/
   https://www.w3.org/standards/
   https://www.w3.org/standards/
   https://www.w3.org/standards/about/
   https://www.w3.org/TR/
   https://www.w3.org/standards/types/
   https://www.w3.org/translations/
   https://www.w3.org/standards/review/
   https://www.w3.org/liaisons/
   https://www.w3.org/get-involved/promote/
   https://www.w3.org/groups/
   https://www.w3.org/groups/
   https://www.w3.org/groups/wg/
   https://www.w3.org/groups/ig/
   https://www.w3.org/groups/cg/
   https://www.w3.org/groups/bg/
   https://www.w3.org/groups/other/tag/
   https://www.w3.org/invited-experts/
   https://www.w3.org/guide/
   https://www.w3.org/about/positive-work-environment/
   https://www.w3.org/get-involved/
   https://www.w3.org/get-involved/
   https://www.w3.org/ecosystems/
   https://www.w3.org/membership/
   https://www.w3.org/Member/
   https://www.w3.org/email/
   https://www.w3.org/donate/
   https://www.w3.org/sponsor/
   https://www.w3.org/resources/
   https://www.w3.org/resources/
   https://www.w3.org/developers/
   https://www.w3.org/developers/tools/
   https://www.w3.org/WAI/fundamentals/
   https://www.w3.org/International/i18n-drafts/nav/about
   https://www.w3.org/translations/
   https://www.w3.org/Consortium/cepc/
   https://www.w3.org/news-events/
   https://www.w3.org/news-events/
   https://www.w3.org/news/
   https://www.w3.org/blog/
   https://www.w3.org/press-releases/
   https://www.w3.org/about/press-media/
   https://www.w3.org/events/
   https://www.w3.org/Consortium/cepc/
   https://www.w3.org/about/
   https://www.w3.org/about/
   https://www.w3.org/mission/
   https://www.w3.org/about/leadership/
   https://www.w3.org/staff/
   https://www.w3.org/evangelists/
   https://www.w3.org/careers/
   https://www.w3.org/sponsor/
   https://www.w3.org/about/press-media/
   https://www.w3.org/contact/
   https://www.w3.org/about/positive-work-environment/
   https://www.w3.org/policies/
   https://www.w3.org/help/
   https://duckduckgo.com/?q=site%3Aw3.org&ia=web
   http://www.w3.org/users/myprofile/
   http://www.w3.org/
   http://www.w3.org/mission/
   http://www.w3.org/mission/accessibility/
   http://www.w3.org/mission/internationalization/
   http://www.w3.org/mission/security/
   http://www.w3.org/mission/privacy/
   http://www.w3.org/ecosystems/
   http://www.w3.org/about/
   http://www.w3.org/about/history/
   http://www.w3.org/standards/about/
   http://www.w3.org/get-involved/
   https://www.w3.org/
   https://www.w3.org/contact/
   https://www.w3.org/help/
   https://www.w3.org/sponsor/
   https://www.w3.org/donate/
   https://www.w3.org/policies/privacy/
   https://www.w3.org/policies/
   https://status.w3.org/
   https://w3c.social/@w3c
   https://twitter.com/W3C
   https://github.com/w3c/
   https://www.w3.org/
   https://www.w3.org/policies/#disclaimers
   https://www.w3.org/policies/#trademarks
   https://www.w3.org/copyright/document-license/

## Question 8
<p></p>
Write SQL queries on the below database table that return:
<p></p>
a) All the temperature data.
<p></p>
b) All the cities, but without repetition.
<p></p>
c) All the records for India.
<p></p>
d) All the Fall records.
<p></p>
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
<p></p>
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
<p></p>
g) The total annual rainfall for Cairo.
<p></p>
h) The total rainfall for each season.

In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: ipython in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: prettytable in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython-genutils in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython-sql) (2.0.16)
Requirement already satisfied: six in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: jedi>=0.16 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: traitlets>=5 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pickleshare in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: appnope in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/miguelsanchez/anaconda3/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import sqlite3
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
cur.execute("CREATE TABLE Cities (City text, Country text, Season text, Temperature float, Rainfall float)")
cur.execute("INSERT INTO Cities VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Cities VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Cities VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4)")
cur.execute("INSERT INTO Cities VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Cities VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7)")
cur.execute("INSERT INTO Cities VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Cities VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Cities VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Cities VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Cities VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Cities VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Cities VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")
con.commit()
con.close()

In [36]:
#a) All the temperature data.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
cur.execute("SELECT Temperature FROM Cities")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [37]:
#b) All the cities, but without repetition.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
cur.execute("SELECT Distinct City FROM Cities")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [40]:
#c) All the records for India.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
country='India'
cur.execute("SELECT * FROM Cities WHERE Country = ?",(country,))
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [41]:
#d) All the Fall records.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
season='Fall'
cur.execute("SELECT * FROM Cities WHERE Season = ?",(season,))
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [48]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
cur.execute("SELECT City, Country, Season FROM Cities WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

# WHERE AVG(Rainfall) BETWEEN 200 AND 400

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [49]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
season='Fall'
cur.execute("SELECT City, Country FROM Cities WHERE Season = ? AND Temperature > 20 ORDER by Temperature ASC",(season,))
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [51]:
#g) The total annual rainfall for Cairo.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
city='Cairo'
cur.execute("SELECT City, SUM(Rainfall) FROM Cities WHERE City = ?",(city,))
cur.fetchall()

[('Cairo', 27.6)]

In [52]:
#h) The total rainfall for each season.
con = sqlite3.connect('cities_seasons.db')
cur = con.cursor()
cur.execute("SELECT Season, SUM(Rainfall) FROM Cities GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9
. Suppose list words is defined as follows:
<p></p>
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
<p></p>
Write list comprehension expressions that use list words and generate the following lists:
<p></p>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
<p></p>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
<p></p>
c)[3, 5, 5, 3, 5, 4, 3, 4, 3](the list of lengths of words in list words).
<p></p>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
<p></p>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [1]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

alist=[word.upper() for word in words]
print(alist)

blist=[word.lower() for word in words]
print(blist)

clist=[len(word) for word in words]
print(clist)

dlist=[[word.upper(),word.lower(),len(word)] for word in words]
print(dlist)

elist=[word for word in words if len(word)>=4]
print(elist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']